.popup-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

.popup-content {
   background: #F8DDAC;
   padding: 5vh;
   border-radius: 2vh;
   border: 1rem solid #F6A456;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   text-align: left;
   width: 500px;
   position: relative;
}

.botao-checkin {
   background-color: #454D1B;
   padding: 10px;
   width: 100%;
   position: relative;
   margin-top: 20px;
   text-align: center;
   color: white;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   align-items: center;
}

.botao-back {
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   position: absolute;
   top: 10px;
   left: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F6A456;
   border: none;
   cursor: pointer;
}

.success-message {
   font-size: 1.2rem;
   padding: 10px;
   margin-top: 10px;
   border-radius: 5px;
   text-align: center;
   background-color: #12b538; /* Verde */
   color: white;
}

/* Novo CSS para a estrutura desejada */
.crianca-info {
   text-align: center;
   margin-bottom: 20px;
}

.crianca-info h2 {
   margin-bottom: 5px;
}

.crianca-info p {
   display: inline-block;
   margin-right: 20px;
}

.responsavel-info {
   border-top: 1px solid #ccc;
   padding-top: 10px;
   margin-top: 20px;
}

.responsavel-info ul {
   padding-left: 20px;
   margin-top: 10px;
}

.responsavel-info li {
   margin-bottom: 10px;
}
