body {
  background-color: #F8DDAC;
  
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 30rem;
}

.input-file{
  position: relative;
  left: 4rem;
  
  
}

label {
position: relative;
right: 8rem;

}

.nome-crianca{
  position: relative;
  right: 10rem;
}

.titulo-sala{
  position: relative;
  right: 13.5rem;
}

.sala{
  position: relative;
  right: 6rem;
  width: 18rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 10px;
}

.nome-responsavel{
  position: relative;
  right: 8.5rem;
}

.responsavel-2-nome {
  position: relative;
  right: 8.5rem;
}

.data{
  position: relative;
  right: 9.5rem;
}

.classificacao{
  position: relative;
  right: 11rem;
}

.classificacao-opcao{
  position: relative;
  right: 5.5rem;
  width: 18rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 10px;
}

.observacoes{
  position: relative;
  right: 11rem;
}

.textarea-obs{
  position: relative;
  left: 0.5rem;
  width: 30rem;
  height: 10rem;
  border: none;
  outline: none;
  border-radius: 5px;
  
}

@media (max-width: 600px) {
  
}

