.principal {
    height: 100vh;
    background: url('/src/assets/images/LINHAS\ VERDES\ O\ Jardim\ .png');
    background-size: cover;
    background-position: center;
    background-color: #454d1b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    transform: translate(170px, -40px);
}

h1 {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    padding: 80px;
    background-color: #F8DDAC;
    border-radius: 40px;
    width: 27rem;
}

a{
    color: #A83F2B;
    font-size: 15px;
    text-decoration: none;
}

a:hover {
    color: #000;
    transition: 0.2s;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;

}

.input-container-eye {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input {
   padding: 10px 40px 10px 10px;
   border: none;
   border-radius: 10px;
   width: 16rem;
}

input:focus {
    outline-color: #A83F2B;
}

.icone {
    position: absolute;
    right: 10px;
    color: #A83F2B;
    margin-top: 12px;
    margin-bottom: 12px;
    
}

button {
    padding: 12px;
    border-radius: 20px;
    color: #fff;
    background-color: #A83F2B;
    border: none;
    cursor: pointer;
    width: 16rem;
    
}

button:hover {
    background-color: #9D321E;
    transition: 0.4s;
}

#carimbo-padrao {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    transform: translate(50px, -40px, -90px);
    margin-left: 20px;
    position: initial;
}

#folha-amarela{
    position: fixed;
    top: 0; 
    left: 0;
    width: 230px;
    height: 230px;
}

#polen{
    position: fixed;
    bottom: 0; 
    right: 0;
    width: 230px;
    height: 230px;
}