.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #F8DDAC;
    padding-top: 5vh;
    position: relative;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .photo-container {
    margin: 2vh 0;
  }
  
  .profile-photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .search-container {
    width: 100%;
    max-width: 600px;
    margin-top: 2vh;
  }
  
  .search-input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .search-input {
    width: 100%;
    padding: 0.5em 1em 0.5em 2.5em;
    font-size: 1em;
    border-radius: 30px;
    border: 2px solid #000000;
    outline: none;
    box-sizing: border-box;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 0.75em;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;
  }
  
  .add-button-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  .add-button {
    background-color: #A83F2B;
    color: #ffffff;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #8a371b;
  }
  
  @media (max-width: 600px) {
    .profile-photo {
      width: 100px;
    }
  
    .search-container {
      max-width: 100%;
    }
  
    .search-input {
      padding: 0.5em 0.75em 0.5em 2em;
    }
  
    .add-button {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }
  }

.button-back {
  background-color: none; /* Cor de fundo do botão */
  border: none; /* Sem borda */
  width: 50px; /* Largura do botão */
  height: 50px; /* Altura do botão */
  border-radius: 50%; /* Torna o botão redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1000;
}