body {
    margin: 0;
    padding: 0;
  }

 
.footer {
    background-color: #454d1b; 
    color: #fff; 
    padding: 10px 50px;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    position: fixed;
  }

  .footer p {
    margin: 5px 0 10px; 
    font-size: 14px;
    padding: 0 20px;
}
