/* Arquivo principal de CSS - terá as estilizações globais para todo o projeto*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

body{
    min-height: 100vh;
    width: 100vw;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

.success {
    color: green;
    font-size: 14px;
    margin-top: 5px;
  }
