/* BackButton.css */
.button{
  background-color: #A83F2B;
  color: #fff;
  bpadding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 90px;
  left: 100px;
}

.voltar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.arrow {
    
  }