/* BackButton.css */


.voltar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A83F2B;
  color: #fff;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  position: relative;
  right: 35rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  }
  
